$standard-screen: "min-width : 1366px";
$fullhd-screen: "min-width : 1440px";

//color
$body-color: #F7F9FA;
$blue-primary: #39A4BF;
$blue-secondary: #E6ECED;
$blue-border: #DAEAED;
$heading: #013859;
$sub-heading: #A89B7B;
$text: #848C8E;
$white: #fff;