.d-flex{
	display: flex;
}

.jc-center{
	justify-content: center;
}

.jc-flex-end{
	justify-content: flex-end;
}

.jc-space-arround{
	justify-content: space-arround;
}

.ai-center{
	align-items:center;
}

.ai-flex-start{
	align-items: flex-start;
}

.ai-flex-end{
	align-items: flex-end;
}

