<div class="base-contact">
	<content-heading>
		<template slot="heading">
			{{dataContact.form_heading}}
		</template>

		<template slot="sub-heading">
			{{dataContact.form_sub_heading}}
		</template>
	</content-heading>

	<div class="contact-frame">
		<div class="contact-item">
			<div class="contact-form">
				<base-contact-form />
			</div>
			<div class="contact-us">
				<h2>this is contact us</h2>
			</div>
			<div class="contact-social-media">
				<h5>this is icon</h5>
			</div>
		</div>
	</div>
</div>