<div class="base-landing">
  <BaseHeader />
  <div class="landing-content">
    <div class="landing-content-column">
      <div class="landing-content-item">
        <h1 class="landing-name">{{dataLanding.name}}</h1>
        <h1 class="landing-title">{{dataLanding.title}}</h1>
        <p class="landing-noun">{{dataLanding.titleNoun}}</p>
        <p class="landing-intro">
          {{dataLanding.titleMean}}
        </p>

        <div class="landing-my-works">
          <BaseButton buttonClass="default">
            {{dataLanding.buttonText}}
          </BaseButton>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-arrow">
    <a class="landing-arrow-item">
      <span class="left-bar"></span>
      <span class="right-bar"></span>
    </a>
  </div>
</div>